/*@media screen and (max-width: 480px)
{
  #contactList
  {
    background-color:red;
    float:left;
    width:143px;
    height:250px;
    overflow-wrap: break-word;
  }
  #contact
  {
    background-color:red;
    float:right;
    width:143px;
    height:250px;
    overflow-wrap: break-word;
  }
}*/